<article class="about">

  <h2>About this tool</h2>

  <p>Ever wondered what's would be the cheapest option to pay for the journeys you make on London Public Transport?
  This is not always so obvious. </p>
  <p><strong>Fare Calculator for London Public Transport</strong> is here to help. All you need to do is fill in a trivial form on the <a href="">home page</a> and click 'Calculate'. You will see a detailed table of prices which should give you an idea, what is the best option for you. </p>

  <h3>Why use it?</h3>
  <p>Perhaps, you have already noticed that TFL website also provides a calculator, however our tool does a different thing. It is desinged to <em>compare</em> all available payment options and it also
  gives you alternative routes.</p>
  <p>Is it really possible to save much on this? Well, if you save just 50p every weekday it may add up to even &pound;10 per month.</p>

  <h3>Coming next</h3>
  <p>We are planning to constantly work on improving this website. Boat and cable car transport means will be taken into account in the future. We would like to include more Rail Cards, group travelling option and lots more.</p>

  <h3>Support</h3>
  <p>We would like to note that this is an experimental tool and it may not always provide the most accurate results. If you think you found a mistake, please feel free to contact us at <a href="mailto:support@farecalculator.co.uk">support@farecalculator.co.uk</a>.
  <!--For your convenience we have added a link 'Report a mistake' to the results page, which will send us all the details needed for the problem investigation automatically.--></p>

  <h3>Credits</h3>
  <p>Fare calculator is based on TFL journey planner API. We also used the prices provided on the <a href="http://www.tfl.gov.uk/tickets/14416.aspx">TFL website</a>. The appearance is powered by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
  <p>&nbsp;</p>
  <p>We hope you like our tool!</p>

</article>
