<script type="text/template" class="error-template">

  <article class="error">

    <h2>Oops! Something went wrong.</h2>

    <p>Please <a href="/">try again</a>.</p>

    <a href="/">Back to homepage</a>

  </article>

</script>
