<article class="intro">
  <h2>What's this?</h2>
  <p>
    Not sure whether to buy a travelcard or just stick to PAYG?
  </p>
  <p>
    This tool is designed to help you work out the best option.
  </p>
  <p>
    Simply fill in the form an you will see detailed charts and a table allowing you to compare all the options easily and calculate how much you can save.
  </p>
  <p>
    <a href="/about">Read more about this tool</a>
  </p>
</article>
