<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Charts</a></li>
  <li role="presentation"><a href="#">Table</a></li>
</ul>

<div>
  <article>
    <h2>Approximate yearly spendings</h2>
    <div>chart1</div>
    <p>Chart description</p>
  </article>

  <article>
    <h2>Approximate monthly spendings</h2>
    <div>chart2</div>
    <p>chart description</p>
  </article>

  <article>
    <h2>Approximate weekly spendings</h2>
    <div>chart3</div>
    <p>chart description</p>
  </article>
</div>

<div>
  <table>
    <thead>
      <tr>
        <td rowspan="2">Travelcard</td>
        <td colspan="3">Spendings</td>
      </tr>
      <tr>
        <td>Yearly</td>
        <td>Monthly</td>
        <td>Weekly</td>
      </tr>
    </thead>
      <tr>
        <td>Annual</td>
        <td>1000</td>
        <td><em>198</em></td>
        <td><em>42</em></td>
      </tr>
      <tr>
        <td>Monthly</td>
        <td>1100</td>
        <td>200</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Weekly</td>
        <td>1200</td>
        <td>220</td>
        <td>50</td>
      </tr>
      <tr>
        <td>PAYG</td>
        <td>1300</td>
        <td>230</td>
        <td>55</td>
      </tr>
  </table>
</div>
