<script type="text/template" class="results-template">

  <div role="tabpanel" class="results">

    <ul class="nav nav-tabs result-tabs">
      <li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
      <li role="presentation" class="active"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab">Charts</a></li>
    </ul>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="charts">
        <article>
          <h2>Approximate yearly spendings</h2>
          <div id="yearly-spendings" class="ct-chart ct-perfect-fourth"></div>
          <p>Chart description</p>
        </article>

        <article>
          <h2>Approximate monthly spendings</h2>
          <div id="monthly-spendings" class="ct-chart ct-perfect-fourth"></div>
          <p>chart description</p>
        </article>

        <article>
          <h2>Approximate weekly spendings</h2>
          <div id="weekly-spendings" class="ct-chart ct-perfect-fourth"></div>
          <p>chart description</p>
        </article>
      </div>

      <div role="tabpanel" class="tab-pane" id="table">
        <div class="table-responsive prices">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th rowspan="2">Travel<br>Card<br>Type</th>
                <th colspan="3">Spendings</th>
              </tr>
              <tr>
                <th>Yearly</th>
                <th>Monthly</th>
                <th>Weekly</th>
              </tr>
            </thead>
              <tr>
                <td>Annual</td>
                <td><%= yearlyTC.yearly %></td>
                <td><%= yearlyTC.monthly %></td>
                <td><%= yearlyTC.weekly %></td>
              </tr>
              <tr>
                <td>Monthly</td>
                <td><%= monthlyTC.yearly %></td>
                <td><%= monthlyTC.monthly %></td>
                <td><%= monthlyTC.weekly %></td>
              </tr>
              <tr>
                <td>Weekly</td>
                <td><%= weeklyTC.yearly %></td>
                <td><%= weeklyTC.monthly %></td>
                <td><%= weeklyTC.weekly %></td>
              </tr>
              <tr>
                <td>PAYG</td>
                <td><%= payg.yearly %></td>
                <td><%= payg.monthly %></td>
                <td><%= payg.weekly %></td>
              </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

</script>
