<script type="text/template" class="stations-template">

  <div class="dropdown stations">
    <ul class="dropdown-menu">
    </ul>
  </div>

</script>


<script type="text/template" class="station-template">
  <li><a href="#"><%= name %></a></li>
</script>
