.results, .tab-content, .result-tabs {
  float: left;
  width: 100%;
}

.prices {
  margin-top: @line-height-computed;
}

.nav-tabs {
  li {
    float: right;
  }
}

#results {
  opacity: 0;
}

.ct-chart {
  .ct-bar {
    stroke-width: 30px;
  }

  .ct-label.ct-horizontal {
    text-align: center;
    font-size: 1.5rem;
  }

  .ct-label.ct-vertical {
    font-size: 1rem;
  }
}
