<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fare Calculator for London Public Transport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      header
    </header>
    <div class="main">
      {{> form}}
      
    </div>
    <footer>
      footer
    </footer>
  </body>
</html>
