<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fare Calculator for London Public Transport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <header class="container-fluid">
      <h1>Fare Calculator for London Public Transport</h1>
    </header>
    <div class="main container-fluid">
      {{> intro}}
      {{> form}}
      {{> results}}
    </div>
    <footer class="container-fluid">
      footer
    </footer>

    <!-- TEMPLATES BEGIN --------------------------------------------------- -->

    {{> about}}

    <!-- TEMPLATES END ----------------------------------------------------- -->

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-2.1.3.min.js"><\/script>')</script>
    <script src="js/main.js"></script>

  </body>
</html>
