<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fare Calculator for London Public Transport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <header class="container-fluid">
      <h1>Fare Calculator for London Public Transport</h1>
    </header>
    <div class="main container-fluid">
      {{> intro}}
      {{> form}}
      {{> results}}
      {{> about}}
    </div>
    <footer class="container-fluid">
      footer
    </footer>
  </body>
</html>
